.login-form {
  width: 30%;
  max-width: 333 px;
  padding: 15 px;
  margin: auto;
  height: 150%
}

.edit-form {
  width: 40%;
  max-width: 333 px;
  padding: 15px;
  margin: auto;
}

.balance {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.balance-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.calculate-container {
  display: grid;
  flex-direction: row;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.savings-container {
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
}

.savings-amount {
  display: flex;
  flex-direction: column;
  
}

.jumbotron{
background-color: #525f7f !important;
color: white;

}

.income-card {
  padding: 5px;
  padding-top: 5px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  width: 150px;
  height: 110px;
}

.expense-card {
  padding: 5px;
  padding-top: 5px;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  width: 150px;
  height: 110px;
}

.add-savings-container {
  display: grid;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.savings-header {
  text-align: center;
  color: #9A7D0A;
}

.expense-header {
  text-align: center;
  color: #922B21 ;
}

.balance-header {
  text-align: center
}

.balance-element {
  /* box-shadow: 0 4px 8px 0 rgba(107, 101, 101, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow:  4px 8px 0 rgba(111, 170, 238, 0.2), 0 6px 20px 0 rgba(66, 185, 221, 0.19);
  border: .0625rem solid rgba(34,42,66,.05);
  border-radius: auto;
  max-width: 333px;
}

#balance-element {
  background-color: #339DD7;
  max-width: 333px;
}

.balance-heading {
  color: #185677;
}
#income-element {
  background: #5BBE70;
  max-width: 333px;
}

.income-header{
  text-align: center ;
  color: #008000	 ;
}

.expense-element {
  /* box-shadow: 0 4px 8px 0 rgba(107, 101, 101, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow:  4px 8px 0 rgba(62, 142, 233, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: .0625rem solid rgba(34,42,66,.05);
  border-radius: auto;
  max-width: 333px;
}

.income-element {
  box-shadow: 0 4px 8px 0 rgba(107, 101, 101, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: .0625rem solid rgba(34,42,66,.05);
  border-radius: auto;
}

.savings-element {
  box-shadow: 0 4px 8px 0 rgba(107, 101, 101, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: .0625rem solid rgba(34,42,66,.05);
  border-radius: auto;
  background: gold;
}

#expense-element {
  background: #FF4346;
}

.progress-heading {
  text-align: center;
  color: white;
}


div.progress {
  display: flex;
  height: 3rem;
  width: 50%;
  margin: auto;
  overflow: hidden;
  line-height: 0;
  font-size: 1rem;
  font-weight: bold;
  border-radius: .30rem;
  background-color: #525f7f;
  box-shadow: 0 4px 8px 0 rgba(107, 101, 101, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: .0625rem solid rgba(34,42,66,.05);
  text-align: center;
}

li.list-group-item {
padding: 5px;
padding-top: 5px;
padding-bottom: 5px;
width: 300px;
margin: 0 auto;
box-shadow: 0 4px 8px 0 rgba(107, 101, 101, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.savings-container > li {

  padding: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 300px;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
} 

.prize-container {
    height: 300px;
    width: 275px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 5px;
}

#prize-container {
  height: 300px;
  width: 275px;
  display: grid;
grid-template-columns: auto auto auto auto auto ;
flex-direction: row;
}


.progress-heading {
  display: flex;
  justify-content: center
}

.badge-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}
  
.transaction-form {
  box-shadow: 0 4px 8px 0 rgba(139, 135, 135, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.transaction-table {
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(139, 135, 135, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navigation-bar {
  background-color: rgba(62, 142, 233, 0.2);
    box-shadow: 0 4px 8px 0 rgba(62, 142, 233, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-link-tag {
  color: #edf2f7;
  text-decoration: none;
  background-color: transparent;
}

.nav-link-tag:hover {
  color: gold;
}

#savings-element{
  background: 'gold'
}
/* .profile-container {
  display: grid;
  grid-template-columns: auto auto auto;
  flex-direction: row;
} */

/* div.jumbotron {
  display: grid;
  grid-template-columns: auto auto auto;
  flex-direction: row;
} */

.graph-container {
  margin: 20px;
  padding: 20px;
}

.sorry-container {
  padding: 10px;
  justify-content: center;
}

.prize-image-container {
  margin-left: -10px;
  margin-right: -10px;
  width: calc(100% + 25px);
}

.jumbotron {
  margin-left: -10px;
  margin-right: -10px;
  width: calc(100% + 25px);
}

.pie-grid {
  display: grid;
  flex-direction: row;
  padding: 50px;
  justify-content: center;
}

.barchart {
  position: absolute;
  right: 100px;
  padding: 12px;
  color: white;
}

.delete-button {
  background: #c21525;
}

#sorry-heading{
  color: white; 
  padding: 75px;
}

.prize-figure {
  color: white;
  display: grid;
  flex-direction: row;
  padding: 10px;
  justify-content: center;
}

.active {
  color: gold;
}

.buttons-form {
  margin: 5px;
    position: absolute;
    justify-content: space-around;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.register-form{
  width: 30%;
  max-width: 333 px;
  padding: 15 px;
  margin: auto;
  height: 150%
}
/* .analysis-container {
  width: 60vw;
  height: 45vw;
  display: flex;
  flex-direction: column;
  padding: 10 px;
  justify-content: space-around;
} */

